#navbar_header {
  color: white;
  width: 100%;
  position: fixed;
  z-index: 999999;
  background-color: white;
}

#navbar_header .navbar {
  padding: 0;
}

#navbar_header .navbar .navbar-image {
  width: 9rem;
  margin-left: 10px;
}

#navbar_header .navbar .searchBox {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  -o-border-image: initial;
     border-image: initial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 36px;
  position: relative;
  width: 72px;
  fill: #1a1a1b;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 16px;
  margin-right: 16px;
  width: auto;
}

#navbar_header .navbar .searchBox .lable {
  position: absolute;
  margin-left: 16px;
  margin-top: 5px;
}

#navbar_header .navbar .searchBox .lable .icon {
  fill: #878a8c;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

#navbar_header .navbar .searchBox .searchFild {
  -webkit-appearance: none;
  background-color: #f6f7f8;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #1c1c1c;
  display: block;
  height: 33px;
  width: 100%;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #edeff1;
  -o-border-image: initial;
     border-image: initial;
  outline: none;
  padding: 0 16px 0 40px;
  font-size: 14px;
}

#navbar_header .navbar .navbar-toggler {
  color: gray;
}

#navbar_header .navbar .navbar-toggler:hover {
  color: black;
}

#navbar_header .navbar .navbar-toggler .fal {
  font-size: 1.5rem;
}

#navbar_header .navbar .collapse {
  max-width: 450px;
}

#navbar_header .navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.25rem;
  color: gray;
}

#navbar_header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: black;
}

.community_image {
  padding-top: 57px;
  margin-bottom: -90px;
}

.community_image .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.content-section.sideBar {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.content-section {
  position: relative;
  background: white;
  background-color: white;
  margin-bottom: 10px;
  color: #878a8c;
  fill: #878a8c;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  -o-border-image: initial;
     border-image: initial;
  padding: 0 20px 0 40px;
  border-radius: 4px;
  -webkit-transition: color 0.5s ease 0s, fill 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
  transition: color 0.5s ease 0s, fill 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
  transition: color 0.5s ease 0s, fill 0.5s ease 0s, box-shadow 0.5s ease 0s;
  transition: color 0.5s ease 0s, fill 0.5s ease 0s, box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
}

.content-section .arrow-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

.vote-container, .vote-container2 {
  height: 100%;
  left: 0px;
  position: absolute;
  padding: 0 4px 8px 0;
  width: 40px;
  border-left: 4px solid transparent;
}

.votecount, .votecount_comment {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.article-img {
  margin-top: 10px;
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-img_comment {
  margin-top: 10px;
  height: 35px;
  width: 35px;
  margin-right: 16px;
}

.article-metadata {
  margin-top: 10px;
  padding-bottom: 1px;
  margin-bottom: 7px;
}
/*# sourceMappingURL=main.css.map */